#output--header{
    color: white;
    background-color: grey
}

#questioninput{
    width: 50%;
}

.output--header--question{
    width: 20%;
}

.output--header--answer{
    width: 30%
}

.output--header--entity{
    width: 50%
}

#output--table{
    width: 100%
}

#content--output{
    width:98%px; 
    height:60%; 
    overflow:auto;
}

#usercontrol{
    margin-top: 20px;
}