
@import 'https://fonts.googleapis.com/css?family=Raleway';
body {
 font-family: 'Raleway', sans-serif;
 letter-spacing: 0.07em;
}

h1 {
 text-align: center;
}

table  {
 border-collapse: collapse;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
 margin: 0 auto;
}

th, td {
 border-bottom: 1px solid darkgray;
 padding: 1em;
}

th {
 background-color: #1F4E69;
 color: white;
}

tr:nth-of-type(even) {
 background-color: #eee;
}

tr:hover {
 background-color: #91C3DE;
}

tr.bright {
 background-color: #2F769E;
 color: white;
}

tr.bright:hover {
 background-color: #91C3DE;
 color: black;
}

td.strong {
 font-style: italic;
}